<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/output.css" />
    <script src="/static/js/htmx.js"></script>
    <script src="/static/js/htmx-rm.js"></script>
    <script src="/static/js/htmx-size-limit.js"></script>
    <script src="/static/js/htmx-null-empty.js"></script>
    <script src="/static/js/pikaday.js"></script>
    <script src="/static/js/dayjs.js"></script>
    <script defer src="/static/js/alpine.js"></script>
    <title>CarShift - {% block title %}{% endblock title %}</title>
  </head>
  <body
    hx-boost="true"
    hx-indicator=".loading-bar"
    class="flex flex-col min-h-screen"
  >
    <!-- loading bar -->
    <div
      class="fixed top-0 left-0 z-50 w-full bg-gradient-to-r opacity-0 loading-bar h-[3px] from-primary/10 via-secondary to-accent/10"
    ></div>

    <!-- navbar -->
    {% include "components/navbar.html" %}

    <!-- content -->
    <div {% block parent %}class="grow"{% endblock parent %}>
      {% block content %}
      {% endblock content %}
    </div>

    <!-- footer -->
    {% include "components/footer.html" %}

    <div hx-preserve hx-ext="remove-me" id="hxtoast" class="toast"></div>
  </body>
  <script>
    document.body.addEventListener("htmx:beforeOnLoad", function (evt) {
      const ignored_codes = [422];
      ignored_codes.forEach((num) => {
        if (evt.detail.xhr.status === num) {
          evt.detail.shouldSwap = true;
          evt.detail.isError = false;
        }
      });
    });
  </script>
</html>
