<form
  hx-post="/settings/account"
  hx-ext="null-empty"
  hx-target="#hxtoast"
  hx-swap="beforeend"
  class="grid gap-3 w-full sm:w-xs"
>
  <div>
    <div class="mb-1 text-sm">Username</div>
    {% include "inputs/username.html" %}
  </div>

  <div>
    <div class="mb-1 text-sm">Email</div>
    {% include "inputs/email.html" %}
  </div>

  <div>
    <div class="mb-1 text-sm">Phone number</div>
    {% include "inputs/phone.html" %}
  </div>

  <input type="submit" class="btn btn-primary" value="Save" />
</form>
