<div class="flex flex-col w-full sm:flex-row">
  <form
    hx-post="/settings/picture"
    hx-target="#hxtoast"
    hx-swap="beforeend"
    enctype="multipart/form-data"
    x-data="{ imageUrl: '{% include "components/pfp.html" %}'}"
    hx-disabled-elt="#filesubmit"
    class="flex flex-col gap-3"
  >
    <div class="w-3xs max-w-3xs avatar">
      <div class="w-full h-auto bg-white rounded-xl">
        <img :src="imageUrl" />
      </div>
    </div>
    <input
      type="file"
      accept="image/jpeg, image/png, image/gif"
      name="image"
      @change="imageUrl = URL.createObjectURL($event.target.files[0])"
      required
      class="file-input file-input-sm"
    />
    <input id="filesubmit" type="submit" class="btn btn-info" value="Upload" />
  </form>
  <div class="divider divider-horizontal"></div>
  <form
    hx-post="/settings/profile"
    hx-target="#hxtoast"
    hx-swap="beforeend"
    hx-ext="null-empty"
    class="flex flex-col gap-3 w-full sm:w-xs"
  >
    <div>
      <div class="mb-1 text-sm">First name</div>
      {% include "inputs/firstname.html" %}
    </div>
    <div>
      <div class="mb-1 text-sm">Last name</div>
      {% include "inputs/lastname.html" %}
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />
  </form>
</div>
