<form hx-post="/settings/account" hx-ext="null-empty">
  username :
  <input required type="text" name="username" value="{{ user.username }}" />
  <br />

  email :
  <input
    type="email"
    name="email"
    {% if let Some(email) = user.email %}
      value="{{ email }}"
    {% endif %}
  />
  <br />

  phone number :
  <input
    type="tel"
    name="phone"
    {% if let Some(phone) = user.phone %}
      value="{{ phone }}"
    {% endif %}
  />
  <br /><br />

  <input type="submit" value="save" />
</form>
