<form hx-post="/settings/profile" hx-ext="null-empty">
  firstname :
  <input required type="text" name="firstname" value="{{ user.firstname }}" />
  <br />

  lastname :
  <input
    type="text"
    name="lastname"
    {% if let Some(lastname) = user.lastname %}
      value="{{ lastname }}"
    {% endif %}
  />
  <br /><br />

  <input type="submit" value="save" />
</form>

<form hx-post="/settings/picture" enctype="multipart/form-data">
  <input name="image" type="file" />
  <input type="submit" />
</form>
