<div>
  <div class="w-full">
    <label class="w-full input validator">
      {{ ico!("ic:baseline-key")|safe }}
      <input
        type="password"
        placeholder="Password"
        minlength="8"
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        name="password"
        required
      />
    </label>
    <p class="hidden validator-hint">
      Must be more than 8 characters, including
      <br />
      At least one number
      <br />
      At least one lowercase letter
      <br />
      At least one uppercase letter
    </p>
  </div>
</div>
