{% for user in users %}
  <a
    href="/user/{{ user.username }}"
    class="flex flex-row gap-3 py-3 h-fit btn btn-ghost animate-fade-right animate-duration-500"
  >
    <div class="avatar">
      <div class="w-12 h-12 mask mask-squircle">
        <img
          {% if let Some(pfp_file) = user.pfp_file %}
            src="/{{ pfp_file }}"
          {% else %}
            src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
          {% endif %}
        />
      </div>
    </div>
    <div class="text-left grow">
      <div class="font-bold">
        {{ user.firstname }}
        {% if let Some(lastname) = user.lastname %}
          {{ lastname }}
        {% endif %}
      </div>
      <div class="text-sm opacity-50">{{ user.username }}</div>
    </div>
  </a>
{% endfor %}
{% if users.len() >= 10 %}
  <button
    hx-get="/htmx/search-users"
    hx-vals='{"input": "{{ input }}", "page": {{ next_page }}}'
    hx-target="this"
    hx-swap="outerHTML"
    type="button"
    class="btn"
  >
    Show more
  </button>
{% else %}
  <div class="cursor-default btn btn-ghost">That's it</div>
{% endif %}
