<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/static/js/htmx.js"></script>
    <script src="/static/js/htmx-null-empty.js"></script>
    <title>CarShift -</title>
  </head>
  <body>
    <div
      id="navbar"
      hx-trigger="load"
      hx-get="/htmx/navbar"
      hx-swap="innerHTML"
      hx-on::after-request="localStorage.setItem('cached_navbar', this.innerHTML)"
    ></div>
    {% block content %}
    {% endblock content %}
    <div id="hxtoast"></div>
  </body>
  <script>
    const cachedNavbar = localStorage.getItem("cached_navbar");
    if (cachedNavbar) {
      document.getElementById("navbar").innerHTML = cachedNavbar;
    }

    document.body.addEventListener("htmx:beforeOnLoad", function (evt) {
      const ignored_codes = [422];
      ignored_codes.forEach((num) => {
        if (evt.detail.xhr.status === num) {
          evt.detail.shouldSwap = true;
          evt.detail.isError = false;
        }
      });
    });
  </script>
</html>
