{% if let Some(user) = user -%}
  <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="m-1 btn btn-circle avatar">
      <div class="w-full h-auto bg-white rounded-full">
        <img src="{% include "components/pfp.html" %}" alt="profile" />
      </div>
    </div>

    <ul
      tabindex="0"
      class="p-2 w-52 shadow-sm dropdown-content menu bg-base-200 rounded-box z-1"
    >
      <li>
        <a href="/profile">
          {{ ico_mini!("ic:baseline-person") | safe }} Profile
        </a>
      </li>
      <li>
        <a href="/settings">
          {{ ico_mini!("ic:baseline-settings") | safe }} Settings
        </a>
      </li>
      <div class="my-1 mx-1 h-0.5 divider"></div>
      <li>
        <a href="/logout">
          {{ ico_mini!("ic:baseline-exit-to-app") | safe }} Logout
        </a>
      </li>
    </ul>
  </div>
{% else -%}
  <a href="/login" class="btn btn-primary">Login</a>
{% endif -%}
